#game-list-result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(180, 180, 180);
  padding: 1rem 1.5rem;
}

article {
  color: #fff;
  width: auto;
  margin: .6rem;
  border: 1px solid #333;
  header, main, footer {
    padding: .5rem;
  }
  header {
    display: flex;
    align-items: center;

    .spacer {
      flex: 1;
    }

    &+img {
      width: 100%;
    }
  }

  &:hover { border: 1px solid blue; }

  footer { margin-top: 10px; text-align: center; }
}
.loader {
  text-align: center;
  margin-top: 4rem;
}
